@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: block;
  height: 100%;
  width: 100%;
  background:
}
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  height: 100%;
  min-width: 350px;
  color:
  border: none;
  background-color:
}
  margin: 10px 0;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 5px;

}
  height: 88%;
  overflow-x: hidden;
  overflow-y: auto;
}
  padding: 10px 20px;
  list-style-type: none;
}
  font-size: 17px;
  text-decoration: none;
  color:
}
  margin-left: 350px;
  padding: 100px 50px;
  text-align: justify;
}
  margin-top: 20px;
}
  margin: 10px 50px;
}

code {
  display: block;
  padding: 20px;
  line-height: 30px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 5px;
  color:
  border-radius: 12px;
  background:
}

.comment {
  color:
}

.keyword {
  color:
}

.string {
  color:
}

.number {
  color:
}

.operator {
  color:
}

@media screen and (width < 800px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
    position: relative;
    width: 100%;
    min-height: 860px;
  }
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid
    padding-bottom: 20px;
  }

  header{
    text-decoration: underline;
    color:
    font-size:medium
  }
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 2px;
  }
    margin-left: 0;
  }
}
